.vrButtonGroup {
    display: inline-flex !important;
    overflow-x: hidden;
    overflow-y: hidden;
}

.buttonGroupItem {
    border: solid 1px #d9d9d9;
    background-color: #fff;
    display: inline-flex;
    align-items: center;
    text-align: center;
    border-left: none;
    padding-bottom: 3px;
    padding-top: 2px !important;
    padding-left: 7px;
    padding-right: 7px;
    cursor: pointer;
    height: 20px;
    user-select: none;
}

.buttonGroupItem[disabled="disabled"] {
    opacity: 0.5;
}

.buttonGroupItem.buttonGroupItemSelected {
    background-color: #51B3E1;
    color: #FFF;
}

.vrButtonGroup .buttonGroupItem:first-child {
    border-left: solid 1px #d9d9d9;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.vrButtonGroup .buttonGroupItem:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.buttonGroupItem .vrCheckBox {
    padding: 6px !important;
    margin-right: 5px;
    margin-left: -1px;
}

.buttonGroupItem .vrCheckBox:after {
    content: '\2713';
    font-size: 12px !important;
    position: absolute;
    top: -2px !important;
    left: 1px !important;
    font-weight: 700;
    color: #fff;
}

.buttonGroupItemText {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 2px;
}