.vrComboBox {
    height: 23px;
    font-size: 14px;
    border: solid 1px #d9d9d9;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-top: solid 1px transparent;
    border-left: solid 1px transparent;
    border-right: solid 1px transparent;
    border-bottom-left-radius: 0px;
    overflow: hidden;
}

.vrComboBoxCheckbox {
    display: inline-block;
    height: 25px;
    font-size: 14px;
    border: solid 1px #d9d9d9;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    background-color: #F8F8F8;
    border-top: solid 1px transparent;
    border-left: solid 1px transparent;
    border-right: solid 1px transparent;
    /* border-bottom: solid 1px transparent; */
    border-bottom-left-radius: 0px;
}

.vrComboBoxDropDown {
    display: inline-block;
    height: 25px;
    font-size: 14px;
    border: solid 1px #d9d9d9;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    background-color: #FFF;
    border-top: solid 1px transparent;
    border-left: solid 1px transparent;
    border-right: solid 1px transparent;
    /* border-bottom: solid 1px transparent; */
    border-bottom-left-radius: 0px;
}

.comboBox_divPopup {
    border: solid 1px #d9d9d9;
    position: absolute;
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    padding: 5px;
    overflow-y: auto;
    z-index: 9999999;
    background-color: #FFF;
    height: fit-content;
    width: min-content;
}

.vrDivPickerIconComboBox {
    position: absolute;
    right: 1px;
    top: 1px;
    width: 24px;
    height: 25px;
    background-color: #e4e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: solid 1px #d9d9d9;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0px;
    cursor: pointer;
}

.vrDivPickerIconComboBoxDropDown {
    position: absolute;
    right: 3px;
    top: 1px;
    width: 13px;
    height: 24px;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0px;
    cursor: pointer;
}

.vrDivPickerIconComboBox.vrComboDivPickerWithButton, .vrDivPickerIconComboBoxDropDown.vrComboDivPickerWithButton {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    right: 27px;
}

.vrComboBoxSelectedComboValue {
    background-color: #51B3E1;
    color: #FFF;
    padding-left: 5px;
    padding-right: 5px;
    /* width: Calc(100% - 10px) !important; */
}

.vrComboBoxCheckbox .vrComboBoxSelectedValues {
    width: Calc(100% - 9px);
    margin-top: 1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    background-color: #e3f1fa;
    border-radius: 4px;
    border: solid 1px #ddd;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: -9px;
    text-align: center;
    height: Calc(100% - 4px);
}

.vrComboBoxDropDown .vrComboBoxSelectedValues {
    width: Calc(100% - 9px);
    margin-top: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    background-color: #FFF;
    border: none;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: -9px;
    text-align: left;
    height: Calc(100% - 4px);
}

.vrDivComboBoxClearIcon {
    position: absolute;
    right: 30px;
    bottom: 4px;
    color: #CCC;
    cursor: pointer;
}

.vrComboBoxUl {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    line-height: 25px;
    width: 100%;
}

.vrComboBoxLi {
    padding-left: 20px;
    position: relative;
    overflow: hidden;
}

.vrComboBoxLi::before {
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    left: 10px;
    border-left: 1px dotted #7b7b7b;
}

.vrComboBox::placeholder {
    color: #B8B8B8;
}

.comboBox_divPopup>.vrComboBoxUl:first-child .vrComboBoxLi:first-child:before {
    top: 11px;
    height: Calc(100% - 12px);
}

.vrComboBoxLi>div:first-child {
    white-space: nowrap;
}

.vrComboBoxItem::before {
    content: "";
    display: block;
    width: 9px;
    height: .71428571em;
    position: absolute;
    top: 2px;
    left: 11px;
    border-bottom: 1px dotted #7b7b7b;
}

.vrComboBoxDivIconExpand {
    display: inline-block;
    position: absolute;
    width: 10px;
    padding-left: 10px;
    cursor: pointer;
    z-index: 1;
}

.vrComboBoxDivIconExpand.caret-right {
    left: -2px;
    top: -1px;
}

.vrComboBoxDivIconExpand.caret-down {
    left: -4px;
    top: -1px;
}

.vrComboBoxItemText {
    display: inline-block;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
    width: 100%;
    font-size: 14px;
}

.vrComboBoxItemText.vrComboBoxItemTextCheckbox {
    top: -7px;
    position: relative;
}

.comboBox_divPopup .indeterminateVrCheckbox:after {
    font-size: 33px;
    top: -13px;
    left: -1px;
}

.comboBox_divPopup .vrComboBoxSelectAll.indeterminateVrCheckbox:after {
    font-size: 23px;
    top: -8px;
    left: -10px;
    margin-left: 9px;
}

.vrComboBoxDivItemContainer {
    white-space: nowrap;
}

.vrComboBoxDivItemContainer:hover {
    background-color: #F0F0F0 !important;
}

.vrComboBoxSelectedComboValue:hover {
    background-color: #51B3E1 !important;
}

.vrComboBoxLi.vrComboBoxSelectedComboValue:hover {
    background-color: #51B3E1 !important;
}

.vrComboBoxSelectedComboValue .vrComboBoxDivItemContainer:hover {
    background-color: #51B3E1 !important;
}

.vrComboBoxFlat .vrComboBoxLi {
    padding-left: 5px;
    padding-right: 5px;
}

.vrComboBoxFlat .vrComboBoxLi:before {
    content: unset;
}

.vrComboBox[disabled='disabled'] {
    opacity: 0.9;
    cursor: default;
}

.vrComboBox.vrComboBoxDropDown[disabled='disabled'] {
    opacity: 0.7;
    cursor: default;
}

.vrComboBox.vrComboBoxCheckbox[disabled='disabled'] {
    opacity: 0.7;
    cursor: default;
}