.vrMenuBlock {
	padding-top: 6px;
	padding-bottom: 8px;
	/* border-bottom: solid 1px #ccc; */
	cursor: pointer;
}

.vrMenuBlock.opened {
	font-weight: 600;
}

.vrMenuBlock.opened>i {
	font-weight: 600;
}

.vrMenuBlock.selected {
	background-color: #e3f1fa;
	font-weight: 600;
}

.vrMenuBlock.selected>i {
	font-weight: 600;
}

.vrMenuBlock.selected:hover {
	background-color: #e3f1fa;
}

.vrMenuBlock span {
	display: inline-block;
	white-space: nowrap;
	width: Calc(100% - 45px);
	padding-right: 5px;
	user-select: none;
}

.vrMenuBlock:hover {
	background-color: #f3f3f3;
}

.vrMenuIcon {
	padding-right: 5px;
	width: 16px;
}

.vrMenuBlockChild {
	display: none;
}

/* .vrMenuBlockParent>i {
	font-weight: 600;
} */

.vrMenu {
	font-size: 14px;
	overflow-x: hidden;
}