.vrSplitter {
	height: 100%;
}

.vrSplitter[data-direction="vertical"] {
	background-color: #cbd5e0;
	cursor: ns-resize;
	height: 2px;
	width: 100%;
}

.vrSplitter[data-direction="horizontal"] {
	background-color: #cbd5e0;
	cursor: ew-resize;
	height: 100%;
	width: 2px;
}